<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>22A380019</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.HorizonUnix.GenericNVMeName</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GenericNVMeName</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>23E220</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>14.4</string>
	<key>DTSDKBuild</key>
	<string>23E220</string>
	<key>DTSDKName</key>
	<string>macosx14.4.internal</string>
	<key>DTXcode</key>
	<string>1500</string>
	<key>DTXcodeBuild</key>
	<string>15E6079e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>com.HorizonUnix.GenericNVMeName</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONVMeFamily</string>
			<key>Chipset Name</key>
			<string>SSD Controller</string>
			<key>IOClass</key>
			<string>IONVMeController</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0xf1a88086</string>
			<key>IOPCIPauseCompatible</key>
			<true/>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPCIUseDeviceMapper</key>
			<true/>
			<key>IOPrimaryDriverTerminateOptions</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>9000</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUnitName</key>
			<string>disk</string>
			<key>Physical Interconnect</key>
			<string>PCI-Express</string>
			<key>Physical Interconnect Location</key>
			<string>Internal</string>
			<key>Vendor Name</key>
			<string>Apple</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 HorizonUnix. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
